OMNIVOICE_MODEL_DIR=/absolute/path/to/local/OmniVoice-model
OMNIVOICE_SOURCE_DIR=/absolute/path/to/local/OmniVoice-repo
OMNIVOICE_DEVICE=auto
OMNIVOICE_HOST=0.0.0.0
OMNIVOICE_PORT=8080
OMNIVOICE_LOG_LEVEL=INFO
OMNIVOICE_MAX_CONCURRENCY=1
OMNIVOICE_DEFAULT_LANGUAGE=sah
OMNIVOICE_PRELOAD_MODEL=true
OMNIVOICE_ALLOW_AUTO_ASR=false
OMNIVOICE_OUTPUT_DIR=./outputs
